<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ejemplo Libreria</title>
	<link rel="stylesheet" href="/css/fonts.css">
	<link rel="stylesheet" href="/css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	<script>
		//Ejemplo AJAX - error
		/*var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function() {
			if ( xhr.readyState === 4 ) {
				if ( xhr.status === 200 ) {
					document.getElementById('ajax').innerHTML = xhr.responseText;
				}
			}
		}
		xhr.open('GET', '/footer/');
		xhr.send();*/
		//Ejemplo Obtener datos JSON
		/*var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function () {
			if ( xhr.readyState === 4 ) {
				var arrayContactos = JSON.parse(xhr.responseText);
				var contactosHTML = '<h3>Contactos</h3><ul>';
				for ( let i = 0; i < arrayContactos.length ; i += 1 ) {
					
					contactosHTML += '<li class="menu__item">';
					contactosHTML += arrayContactos[i].nombre;
					contactosHTML += '|';
					contactosHTML += arrayContactos[i].telefono;
					contactosHTML += '</li>'
					
				}
				contactosHTML += '</ul>';
				document.getElementById('ajax').innerHTML = contactosHTML;
			}
		}
		xhr.open('GET', '/datos-json/');
		xhr.send();*/
	</script>
</head>
<body>
	<header class="cabecera">
		<div class="row row__space__between">
			<span class="logo">Book Center</span>
		    <ul class="menu">
		    	<li class="menu__item"><a href="/ingresar/">Login</a></li>
		      	<li class="menu__item"><a href="/registrar/">Registrarse</a></li>
		    </ul>
		</div>
    </header>
	<section class="principal">

		<div class="contenedor">

			<h1 class="principal__titulo">Librería</h1>
			<span class="principal__subtitulo">Encuentra los mejores libros que deseas.</span>

			<!--<div class="libros">

				{% for book in books %}
				
					<article class="libro">

						<img src="{{ book.image }}" alt="" class="libro__img">
						<div class="libro__sombra">

							<h3 class="libro__titulo"><a href="/libro/{{ book.slug }}/">{{ book.title }}</a></h3>
							<span class="libro__autor">{{ book.author }}</span>

						</div>

					</article>

				{% endfor %}

				

				<article class="libro">

					<img src="img/eloquent-js.png" alt="" class="libro__img">
					<div class="libro__sombra">

						<h3 class="libro__titulo">Eloquent Javascript</h3>
						<span class="libro__autor">Marijn Haverbeke</span>

					</div>

				</article>

				<article class="libro">

					<img src="img/eloquent-js.png" alt="" class="libro__img">
					<div class="libro__sombra">

						<h3 class="libro__titulo">Eloquent Javascript</h3>
						<span class="libro__autor">Marijn Haverbeke</span>

					</div>

				</article>

				<article class="libro">

					<img src="img/eloquent-js.png" alt="" class="libro__img">
					<div class="libro__sombra">

						<h3 class="libro__titulo">Eloquent Javascript</h3>
						<span class="libro__autor">Marijn Haverbeke</span>

					</div>

				</article>

				<article class="libro">

					<img src="img/eloquent-js.png" alt="" class="libro__img">
					<div class="libro__sombra">

						<h3 class="libro__titulo">Eloquent Javascript</h3>
						<span class="libro__autor">Marijn Haverbeke</span>

					</div>

				</article>

				<article class="libro">

					<img src="img/eloquent-js.png" alt="" class="libro__img">
					<div class="libro__sombra">

						<h3 class="libro__titulo">Eloquent Javascript</h3>
						<span class="libro__autor">Marijn Haverbeke</span>

					</div>
				</article>
			</div>-->
		</div>
	</section>
	<span>Obtener AJAX</span>
	<div id="ajax">
		
	</div>
	<script src="/js/jquery.min.js"></script>
	<script>
		$(document).ready( function(){
			$.getJSON('/datos-json/', function( response ){
				var contactosHTML = '<h3>Contactos</h3><ul>';
				$.each( response, function( index, value ){
					if ( value.casado ) {
						contactosHTML += '<li class="menu__item">';
						contactosHTML += value.nombre;
						contactosHTML += '|';
						contactosHTML += value.telefono;
						contactosHTML += '</li>'
					}
				});
				contactosHTML += '</ul>';
				$('#ajax').html(contactosHTML);
			})
		});
	</script>
</body>
</html>